################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MrG.Daemon.Admin.UI/.vs/
/MrG.Daemon.Admin.UI/bin/
/MrG.Daemon.Admin.UI/obj/
/MrG.Daemon.Admin.UI/MrG.Daemon.Admin.UI.csproj.user
